{%load static%}
{%load i18n%}
<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Subcribe to our Newsletter</h2>
            <div class="row d-flex justify-content-center mt-5">
              <div class="col-md-8">
                <form action="#" class="subscribe-form" method='post'>
                    {% csrf_token %}
                  <div class="form-group d-flex">
                    <input type="text" id="emailinput" class="form-control" placeholder="Enter email address">
                    <button id='emailbutton' type="submit" value="Subscribe" class="submit px-3">send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer class="ftco-footer bg-light ftco-section">
  <div class="container">
      <div class="row">
          <div class="mouse">
              <a href="#" class="mouse-icon">
                  <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
              </a>
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Winkel</h2>
                  <p>{{settings.description}}</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                      <li class="ftco-animate"><a href="{{settings.twitter}}"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="{{settings.facebook}}"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="{{settings.instagram}}"><span class="icon-instagram"></span></a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                  <h2 class="ftco-heading-2">{%trans 'Menu'%}</h2>
                  <ul class="list-unstyled">
                      <li><a href="{% url 'products' %}" class="py-2 d-block">{%trans 'Shop'%}</a></li>
                      <li><a href="{% url 'about' %}" class="py-2 d-block">{%trans 'About'%}</a></li>
                      <li><a href="{% url 'news' %}" class="py-2 d-block">{%trans 'Blog'%}</a></li>
                      <li><a href="{% url 'contact' %}" class="py-2 d-block">{%trans 'Contact Us'%}</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <div class="d-flex">
                      <!-- Add content for the third column if needed -->
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">{%trans 'Have a Questions?'%}</h2>
                  <div class="block-23 mb-3">
                      <ul>
                          <li><span class="icon icon-map-marker"></span><span class="text">{{settings.location}}</span></li>
                          <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{settings.phone}}</span></a></li>
                          <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{settings.email}}</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="row justify-content-between">
          <div class="col-md-12 text-center">
              <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
          </div>
      </div>
  </div>
</footer>

<script>
    SubsciberLogic = {
        emailManager(email) {
            fetch('/api/subscriber/', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'email': email,
                })
            })
                .then(response => response.json())
                .then(data => {
                    subscribeModalLongTitle = document.getElementById('subscribeModalLongTitle');
                    emailinput.value = '';
                    alert('Successfully subcribed!')
                });
        }
    }

    emailbutton = document.getElementById('emailbutton')
    emailinput = document.getElementById('emailinput')

    emailbutton.onclick = function (e) {
        e.preventDefault();
        console.log("emailinput.value", emailinput.value);
        email = emailinput.value;
        SubsciberLogic.emailManager(email);
    }

</script>