{%load static%}
{% load i18n %}
<body class="goto-here">
    <div class="py-1 bg-black">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">{{settings.phone}}</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text">{{settings.email}}</span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">{{settings.text}} &amp; Free Returns</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">{{settings.logo}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> {% trans 'Menu' %} 
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
  
  
          <!-- Search Form -->
          <li class="nav-item">
            <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2"  name='search' type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
            </form>
          </li>
          <!-- End Search Form -->
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">{% trans 'Home ' %}</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Shop' %} </a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="{% url 'products' %}">{%trans 'Shop'%} </a>
            <a class="dropdown-item" href="{% url 'product_single' 1 %}">{%trans 'Single Product'%}</a>
            <a class="dropdown-item" href="cart.html">{%trans 'Cart'%}</a>
            <a class="dropdown-item" href="checkout.html">{%trans 'Checkout'%}</a>
          </div>
        </li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">{%trans 'About'%}</a></li>
          <li class="nav-item"><a href="{% url 'news' %}" class="nav-link">{%trans 'Blog'%}</a></li>
          <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">{%trans 'Contact'%}</a></li>
          {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">{%trans 'Logout'%} </a></li>
                                    {% else %}
                                    
                                       
                                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{%trans 'Sign in'%}</a></li>
                                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">{%trans 'Sign up'%}</a></li>
                                        
                                    
                                    {% endif %}
            
          
        <div>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa-brands fa-google"></i></a>
        </div>

        <form id="languageForm" action="{% url 'set_language' %}" method="post" style="display: block;">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <select style="width: 50px; height: 30px; border-radius: 15%; border: none; color: rgb(112, 58, 58); font-size: 18px;" name="language" onchange="this.form.submit()">
              {% get_current_language as LANGUAGE_CODE %}
              
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option class="{% if language.code == LANGUAGE_CODE %} d-none {% endif %}" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                  {{ language.code|title }}
              </option>
              {% endfor %}
          </select>
       </form>

        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->